-- User custom plugins
-- Copy this file to plugins.lua and add your own plugins
-- This file will be loaded by lazy.nvim after core plugins

return {
	-- Example: Add a custom colorscheme
	-- {
	-- 	"catppuccin/nvim",
	-- 	name = "catppuccin",
	-- 	config = function()
	-- 		vim.cmd("colorscheme catppuccin")
	-- 	end,
	-- },

	-- Example: Add a custom plugin
	-- {
	-- 	"folke/zen-mode.nvim",
	-- 	opts = {},
	-- },
}
